.brandAdmin {

	.brands {
		margin-top: 15px;

		li {
			position: relative;
		    margin-right: 10px;
		    margin-bottom: 10px;
		    padding: 3px 46px 3px 25px !important;
		    vertical-align: bottom;
		    font-weight: 400;
		    border: 2px dashed #ddd;

		    .del {
		        position: absolute;
			    top: -2px;
			    right: 2px;
			    line-height: 30px;
			    text-align: center;
			    color: #fc5a59;
			    font-size: 20px;
			    cursor: pointer;
			}
		}

	}
}